<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard></title>
    <link rel="stylesheet" href="/css/styledash.css"> <!-- Inclua seu CSS aqui -->
</head>
<body>
    <%- body %> <!-- Aqui é onde o conteúdo das suas views será injetado -->
</body>
</html>
